*.meta
/obj
/bin/Release/netstandard2.0
/bin/Debug/netstandard2.0
Svelto.ECS/Svelto.ECS.sdpkg.user
Svelto.ECS/obj/
Svelto.ECS/.idea/
.idea/
Svelto.ECS/bin/
com.sebaslab.svelto.ecs/obj/
.vs/Svelto.ECS/DesignTimeBuild/.dtbcache.v2
.vs/Svelto.ECS/v16/.suo
com.sebaslab.svelto.ecs/bin/
com.sebaslab.svelto.ecs/Svelto.ECS.sdpkg.user
